<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>React</title>

        <!-- React apps -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>  
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script> 
    </head>
    <body>
        <noscript>
            <p>You need to enable JS to see this site.</p>
        </noscript>
        <div id="root">

        </div>
    </body>
    <!-- My react scripts -->
    <script src="dist/bundle.js"></script>
</html>